body{
  text-align: center;
}

h1{
  text-align: center;
}

.image-button{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.btn{
  padding: 5px;
  border: none;
  text-align: center;
}

.image{
  height: 100px;
  width: 100px;
  object-fit: cover;
  display: block;
}

.poem{
  font-size: 18px;
  line-height: 1.8;
  font-family: "Noto Serif Devanagari", serif;
  white-space: pre-wrap;
  pointer-events: none;
}

.translate-button{
  height: 30px;
  width: 160px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: gold;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}